html,
body,main{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
nav{
    background: linear-gradient(265deg, rgba(233,228,113,1) 0%, rgba(184,1,22,.71) 100%, rgba(174,10,9,1) 100%, rgba(210,112,115,1) 100%);
}
nav .brand-logo>img{
    height: 4rem;
}

.sidenav li>a{
    padding: 0 10px;
}

.sidenav li>a>i{
    margin-right: 0px !important;
}

.sidenav-trigger{
    position: absolute;
    z-index: 998;
}
.sidenav-overlay{
    z-index: 996 !important;
}
#map {
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidenav-trigger{
    background: #fff;
    padding: 2px;
    border-radius: 0px;
}


.text-uppercase{
    text-transform: uppercase;
}

/*
    Leaflet customization
*/

.leaflet-control-layers-expanded {
    padding: 15px;
}

.leaflet-control-layers {
    overflow: auto;
}

.leaflet-control-layers label {
    font-weight: normal;
    margin-bottom: 0px;
}

.leaflet-control-layers-list input[type="radio"],
input[type="checkbox"] {
    margin: 2px;
}

.leaflet-control-layers{
    border:none !important;
}

.leaflet-container {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

.ac-container input.menu:checked + label, .ac-container input.menu:checked + label:hover{
    background: #e3f0fa;
    color: #3d7489;
}
div[id^="leaflet-control-accordion-layers"] > label{
    padding: 5px !important;
}


.ac-container article label{
    margin-left: 2px;
    text-transform: capitalize;
}

.leaflet-control-zoom, .leaflet-bar {
    border: none !important;
}

.leaflet-touch .leaflet-bar a{
    width:36px !important;
    height:36px !important;
}

.leaflet-control-easyPrint-button-export{
    width:36px !important;
    height:36px !important;
}

.easyPrintHolder{
    margin-top:-37px !important;
    margin-left:41px !important;
}

.leaflet-draw-section .leaflet-draw-toolbar{
    margin-bottom:1px;
}
.leaflet-draw-toolbar a{
    width: 36px !important;
    height: 36px !important;
}


.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polyline{
    background-position: 2px 2px !important;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polygon{
    background-position: -28px 3px !important;
}
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle{
    background-position: -58px 4px !important;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-circle {
    background-position: -88px 5px !important;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-marker {
    background-position: -118px 6px !important;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled {
    background-position: -208px 4px !important;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled {
    background-position: -238px 5px !important;
}

/* .leaflet-panel-layers-group{
    border:none !important;
    background:none !important;
}

.leaflet-panel-layers-overlays .leaflet-panel-layers-item{
    border:none !important;
} */


.leaflet-popup-content{
    /*max-height: 75vh;*/
    /*overflow-x: scroll;*/
}


.leaflet-popup-content .title{
    font-size: 2.2rem;
    font-weight: 700;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.leaflet-popup-content .content{
    font-size: 14px;
}
.sidenav #list-poi li>a{
    padding: 0px 10px !important;
}
